# Local Netlify folder
.netlify

# Gevoelige bestanden — nooit pushen
.env.local
.env

# Dependenciesgit 
node_modules/

# Build output
build/

# Logs
*.log
npm-debug.log*

# OS bestanden
.DS_Store
Thumbs.db

# Netlify
.netlify/